In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

df = pd.read_csv('Matteprov.csv')
df

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5
0    Ada     3.0     NaN     2.0     3.0     0.0
1   Beda     2.0     3.0     1.0     3.0     3.0
2   Ceda     3.0     1.0     0.0     1.0     0.0
3   Deda     0.0     2.0     0.0     3.0     3.0
4    Eda     2.0     1.0     2.0     1.0     3.0
5   Feda     NaN     NaN     NaN     NaN     NaN
6   Geda     3.0     1.0     1.0     2.0     3.0
7   Heda     0.0     1.0     0.0     1.0     3.0
8    Ida     2.0     1.0     2.0     2.0     3.0
9   Keda     2.0     2.0     1.0     NaN     2.0
10  Leda     3.0     1.0     2.0     1.0     3.0
11  Meda     0.0     2.0     0.0     1.0     1.0