In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

df = pd.read_csv('Matteprov.csv')
df = df.fillna(0)
df("total") = df.sum(axis1)

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5
0    Ada     3.0     NaN     2.0     3.0     0.0
1   Beda     2.0     3.0     1.0     3.0     3.0
2   Ceda     3.0     1.0     0.0     1.0     0.0
3   Deda     0.0     2.0     0.0     3.0     3.0
4    Eda     2.0     1.0     2.0     1.0     3.0
5   Feda     NaN     NaN     NaN     NaN     NaN
6   Geda     3.0     1.0     1.0     2.0     3.0
7   Heda     0.0     1.0     0.0     1.0     3.0
8    Ida     2.0     1.0     2.0     2.0     3.0
9   Keda     2.0     2.0     1.0     NaN     2.0
10  Leda     3.0     1.0     2.0     1.0     3.0
11  Meda     0.0     2.0     0.0     1.0     1.0

In [9]:
# UPG 1 a)

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("sysselsattning.csv", encoding="ISO-8859-1", header=1)
df

          sysselsättning     ålder      kön    2019
0      förvärvsarbetande  16-19 år      män   58826
1      förvärvsarbetande  16-19 år  kvinnor   72847
2      förvärvsarbetande  20-24 år      män  192696
3      förvärvsarbetande  20-24 år  kvinnor  174074
4      förvärvsarbetande  25-29 år      män  293352
5      förvärvsarbetande  25-29 år  kvinnor  268587
6      förvärvsarbetande  30-34 år      män  303019
7      förvärvsarbetande  30-34 år  kvinnor  271975
8      förvärvsarbetande  35-39 år      män  280522
9      förvärvsarbetande  35-39 år  kvinnor  255391
10     förvärvsarbetande  40-44 år      män  275085
11     förvärvsarbetande  40-44 år  kvinnor  260093
12  ej förvärvsarbetande  16-19 år      män  176860
13  ej förvärvsarbetande  16-19 år  kvinnor  143432
14  ej förvärvsarbetande  20-24 år      män  117928
15  ej förvärvsarbetande  20-24 år  kvinnor  103001
16  ej förvärvsarbetande  25-29 år      män   86633
17  ej förvärvsarbetande  25-29 år  kvinnor   91124
18  ej förvärvsarbetande  30-34 år      män   64162
19  ej förvärvsarbetande  30-34 år  kvinnor   76735
20  ej förvärvsarbetande  35-39 år      män   53373
21  ej förvärvsarbetande  35-39 år  kvinnor   61312
22  ej förvärvsarbetande  40-44 år      män   46857
23  ej förvärvsarbetande  40-44 år  kvinnor   49228