In [8]:
# m04u01

for i in range(1,11,2):
    print(i, end=" ")

1 3 5 7 9

In [32]:
# m04u02

#j = 10000

#for i in range(15):
#    i = 1
#    j *= 1.03
#    summa = i*j
#    print(summa)


amount = int(input("Money"))
year = int(input("How many years"))
ränta = float(input("Förändringsfaktor i Ränta"))

for i in range(year):
    i = 1
    amount *= ränta
    summa = i*amount
    print(summa)

1030.0
1060.9
1092.727
1125.50881
1159.2740743000002
1194.0522965290002
1229.8738654248702
1266.7700813876163
1304.7731838292448
1343.916379344122
1384.2338707244458
1425.7608868461791
1468.5337134515646
1512.5897248551116
1557.967416600765

In [2]:
# m04u03a and b

antal=int(input("skriv in ett positivt tal mellan 1 och 15"))
for rad in range(1,antal+1):
    for colum in range(1,antal+1):
        print(rad*colum, end="\t")
    print()

1	2	3
2	4	6
3	6	9

In [22]:
# m04u04

tal = 11

while tal > 1:
    tal -= 1
    summa = tal*tal
    print(summa)
    

else:
    print("Here it ends")

100
81
64
49
36
25
16
9
4
1
Here it ends

In [29]:
# m04u05        

# We want to double the rats ever month untill it's 1000000 of then see how many months it is.

månader = 0
råttor = 100

while råttor < 1000000:
    råttor*=2
    månader+=1
print(råttor)
print(månader, "månader")

1638400
14 månader

In [33]:
#m04u06

In [34]:
# m04u07

In [ ]:
# m04u08